/* stylelint-disable csstree/validator */
.sidenav {
  width: 15%;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color:#fff;
  border-right: 1px solid grey;
  padding-top: 20px;
}

.sidenavClosed {
  /* stylelint-disable-next-line property-no-unknown */
  composes: sidenav;
  transition: width 0.3s ease-in-out;
  width: 60px;
}

.logo {
  width: 120px;
  margin-left: 30px;
}

.logoClosed {
  display: none;
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  overflow: hidden;
}

.linkText {
  padding-left: 16px;
}

.sideitem:hover {
  background-color: #60b524;
}

.menuBtn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}

@media screen and (max-width: 768px){
  .logo {
    width: 83%;
    margin-left: 5px;
  }
}
